<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ESCCALCEntities" connectionString="metadata=res://*/Entities.Models1.EscCalcModel.csdl|res://*/Entities.Models1.EscCalcModel.ssdl|res://*/Entities.Models1.EscCalcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BLRTRIDWD21165\MSSQLSERVER2014;initial catalog=ESCCALC;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ESCCALCEntities1" connectionString="metadata=res://*/Entities.Models.EscCalcModel.csdl|res://*/Entities.Models.EscCalcModel.ssdl|res://*/Entities.Models.EscCalcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BLRTRIDWD25047\SQLEXPRESS;initial catalog=ESCCALC;persist security info=True;user id=sa;password=kone@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ESCCALCEntities" connectionString="metadata=res://*/Entities.EscCalcModel.csdl|res://*/Entities.EscCalcModel.ssdl|res://*/Entities.EscCalcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BLRTRIDWD25047\SQLEXPRESS;initial catalog=ESCCALC;user id=sa;password=kone@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ESCCALCEntities" connectionString="metadata=res://*/Entities.EscCalcModel.csdl|res://*/Entities.EscCalcModel.ssdl|res://*/Entities.EscCalcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BLRTRIDWD21165\MSSQLSERVER2014;initial catalog=ESCCALC;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="ESCCALCEntities" connectionString="metadata=res://*/Entities.EscCalcModel.csdl|res://*/Entities.EscCalcModel.ssdl|res://*/Entities.EscCalcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BLRTRIDWD21165\MSSQLSERVER2014;initial catalog=ESCCALC;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>