<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="ESCCALCEntities" connectionString="metadata=res://*/Entities.EscCalcModel.csdl|res://*/Entities.EscCalcModel.ssdl|res://*/Entities.EscCalcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXX;initial catalog=XXXXXX;user id=XXXXXX;password=XXXXXX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>